<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
  <div class="container">
    <div class="row">
      <!-- Footer Content -->
       <div class="col-lg-4 col-md-6">
       </div>
        <div class="col-lg-4 col-md-6">
        </div>
      <div class="col-lg-4 col-md-6">
        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
          <h2 class="u-heading-v2__title h6 text-uppercase mb-0">联系我们</h2>
        </div>

        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(/img/maps/map2.png);">
      <!-- Location -->
      <div class="d-flex g-mb-20">
        <div class="g-mr-10">
          <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
            <i class="fa fa-map-marker"></i>
          </span>
        </div>
        <p class="mb-0">Top Knowledge Inc. <br />
                        208 Bloor Street West
                        Toronto, Ontario M5S 1T8</p>
      </div>
      <!-- End Location -->

      <!-- Phone -->
      <div class="d-flex g-mb-20">
        <div class="g-mr-10">
          <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
            <i class="fa fa-phone"></i>
          </span>
        </div>
        <p class="mb-0">公众微信号: TopKnowledge_UofT </p>
      </div>
    <!-- End Phone -->

      <!-- Email and Website -->
      <div class="d-flex g-mb-20">
        <div class="g-mr-10">
          <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
            <i class="fa fa-globe"></i>
          </span>
        </div>
        <p class="mb-0">
          <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:tkuoft@gmail.com">tkuoft@gmail.com</a>
          <br>
          <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">www.tk-course.com</a>
        </p>
      </div>
      <!-- End Email and Website -->
    </address>
      </div>
      <!-- End Footer Content -->
    </div>
  </div>
</div>
<!-- End Footer -->

<!-- Copyright Footer -->
<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; 版权所有</small>
          <ul class="u-list-inline">
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/privacy_policy" target="_blank">隐私政策</a>
            </li>
            <li class="list-inline-item">
              <span>|</span>
            </li>
            <li class="list-inline-item">
              <a class="g-color-white-opacity-0_8 g-color-white--hover" href="/terms_and_conditions" target="_blank">服务条款</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <li>
          Designed and Maintained by: FinShark Inc
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>