<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/head %>

<body>
  <main>

  <% include ../views/partials/nav %>
    <section class="g-bg-img-hero" style="background-image: url(/img/logo/tk-course-high-res-img.png);">
      <div class="container g-pos-rel g-z-index-1 g-py-200">
        <div class="g-mb-40">

        </div>
      </div>
    </section>
    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Our Services -->
    <section class="g-py-100">
      <div class="container">
        <header class="text-center g-width-60x--md mx-auto g-mb-50">
          <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
            <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">关于我们</h2>
          </div>
          <p class="g-font-size-16">Top Knowledge 团队由多伦多大学在校生和校友组成，坚持原创文章原则，专注解决学生 生活／学习／就业／考研等方面的问题

                                    是最专业的线上和线下讲座组织者和课程补习机构集结优秀的UT大学在校生，研究生，博士 和 职场人士

                                    在成立的短短一年里，微信讲座已成功帮助超过11300学子排忧解惑，也为超过1000多名线下活动参与者提供了最好的活动体验</p>
        </header>

      </div>
    </section>
    <!-- End Our Services -->

    <hr class="g-brd-gray-light-v4 my-0">

    <!-- Counters -->
    <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-pt-50">
      <div class="container">
        <div class="row text-center text-uppercase">
          <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">50</div>
            <h4 class="h6 g-color-gray-dark-v5">精英导师</h4>
          </div>
          <div class="col-lg-3 col-sm-6 g-brd-right--lg g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">88</div>
            <h4 class="h6 g-color-gray-dark-v5">课程和讲座</h4>
          </div>

          <div class="col-lg-3 col-sm-6 g-brd-right g-brd-gray-light-v4 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">11,300+</div>
            <h4 class="h6 g-color-gray-dark-v5">受益学生</h4>
          </div>


          <div class="col-lg-3 col-sm-6 g-mb-50">
            <div class="js-counter g-color-gray-dark-v2 g-font-size-35 g-font-weight-300 g-mb-7">77,005</div>
            <h4 class="h6 g-color-gray-dark-v5">微信订阅者</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- End Counters -->

    <% include ../views/partials/footer %>

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>
  <% include ../views/partials/script %>
</body>

</html>