<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/head %>

<body>
  <main>
<% include ../views/partials/nav %>
<header class="text-center mb-4">
  <h2 class="h2 g-color-black g-font-weight-600">请输入新密码</h2>
</header>
    <!-- Signup -->
    <section class="container g-py-100">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-6">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">


            <!-- Form -->
            <form action="/input_new_password" method="post" class="g-py-15">
              <input name="email" hidden value=<%= email %>>

              <div class="row">
                <div class="col-xs-12 col-sm-6 mb-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5"><i class="icon-communication-062 u-line-icon-pro"></i></span>
                    </div>
                    <input name="password" 
                    data-parsley-error-message="密码长度不得少于6位"
                    id="password" required data-parsley-length="[6, 50]" data-parsley-trigger="keyup" class="half-cell form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover g-py-15 g-px-15" type="password" placeholder="设置密码">
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 mb-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5"><i class="icon-media-094 u-line-icon-pro"></i></span>
                    </div>
                    <input name="confirmed_password" 
                    data-parsley-error-message="请再次确认密码"
                    required data-parsley-equalto="#password" data-parsley-trigger="keyup" class="half-cell form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover g-py-15 g-px-15" type="password" placeholder="确认密码">
                  </div>
                </div>
              </div>


              <button class="btn btn-md btn-block u-btn-primary rounded-0 g-py-15 mb-5" type="submit">提交</button>

            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Signup -->

    <% include ../views/partials/footer %>

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>
    <% include ../views/partials/script %>


</body>

</html>
