<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/head %>

<body>
  <main>

  <% include ../views/partials/nav %>

    <hr class="g-brd-gray-light-v4 my-0">

    <hr class="g-brd-gray-light-v4 my-0">
           <!-- Products -->
      <div class="container g-py-100">
        <div class="row">
        <div class="col-lg-6">
          <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
          <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Top Knowledge Inc. Privacy Policy</h2>
          <p>We are committed to maintaining the accuracy, confidentiality, and security of your personally identifiable information ("Personal Information"). As part of this commitment, our privacy policy governs our actions as they relate to the collection, use and disclosure of Personal Information. Our privacy policy is based upon the values set by the Canadian Standards Association's Model Code for the Protection of Personal Information and Canada's Personal Information Protection and Electronic Documents Act.</p>
          </div>
        </div>
            <div class="col-md-12">

               <!-- Introduction -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Introduction</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>We are responsible for maintaining and protecting the Personal Information under our control. We have designated an individual or individuals who is/are responsible for compliance with our privacy policy.</p>
               </div>
               <!-- Introduction -->

               <!-- Identifying Purposes -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Identifying Purposes</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>We collect, use and disclose Personal Information to provide you with the product or service you have requested and to offer you additional products and services we believe you might be interested in. The purposes for which we collect Personal Information will be identified before or at the time we collect the information. In certain circumstances, the purposes for which information is collected may be clear, and consent may be implied, such as where your name, address and payment information is provided as part of the order process.</p>
               </div>
               <!-- Identifying Purposes -->

               <!-- Consent -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Consent</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>Knowledge and consent are required for the collection, use or disclosure of Personal Information except where required or permitted by law. Providing us with your Personal Information is always your choice. However, your decision not to provide certain information may limit our ability to provide you with our products or services. We will not require you to consent to the collection, use, or disclosure of information as a condition to the supply of a product or service, except as required to be able to supply the product or service.</p>
               </div>
               <!-- Consent -->

               <!-- Limiting Collection -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Limiting Collection</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>The Personal Information collected will be limited to those details necessary for the purposes identified by us. With your consent, we may collect Personal Information from you in person, over the telephone or by corresponding with you via mail, facsimile, or the Internet.</p>
               </div>
               <!-- Limiting Collection -->

               <!-- Limiting Use, Disclosure and Retention -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Limiting Use, Disclosure and Retention</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>Personal Information may only be used or disclosed for the purpose for which it was collected unless you have otherwise consented, or when it is required or permitted by law. Personal Information will only be retained for the period of time required to fulfill the purpose for which we collected it or as may be required by law.</p>
               </div>
               <!-- Limiting Use, Disclosure and Retention -->

               <!-- Accuracy -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Accuracy</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>Personal Information will be maintained in as accurate, complete and up-to-date form as is necessary to fulfill the purposes for which it is to be used.</p>
               </div>
               <!-- Accuracy -->

               <!-- Safeguarding Customer Information -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Safeguarding Customer Information</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>Personal Information will be protected by security safeguards that are appropriate to the sensitivity level of the information. We take all reasonable precautions to protect your Personal Information from any loss or unauthorized use, access or disclosure.</p>
               </div>
               <!-- Safeguarding Customer Information -->

               <!-- Openness -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Openness</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>We will make information available to you about our policies and practices with respect to the management of your Personal Information.</p>
               </div>
               <!-- Openness -->

               <!-- Customer Access -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Customer Access</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>Upon request, you will be informed of the existence, use and disclosure of your Personal Information, and will be given access to it. You may verify the accuracy and completeness of your Personal Information, and may request that it be amended, if appropriate. However, in certain circumstances permitted by law, we will not disclose certain information to you. For example, we may not disclose information relating to you if other individuals are referenced or if there are legal, security or commercial proprietary restrictions.</p>
               </div>
               <!-- Customer Access -->

               <!-- Handling Customer Complaints and Suggestions -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Handling Customer Complaints and Suggestions</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>You may direct any questions or enquiries with respect to our privacy policy or our practices by
                      contacting: <a href="mailto:tkuoft@gmail.com">tkuoft@gmail.com</a></p>
               </div>
               <!-- Handling Customer Complaints and Suggestions -->

               <!-- Additional Information -->
               <div class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
                   <h2 class="h3 g-color-black mb-3">Additional Information</h2>
                   <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
                   <p>Cookies</p>
                   <p>A cookie is a small computer file or piece of information that may be stored in your computer's hard drive when you visit our websites. We may use cookies to improve our website’s functionality and in some cases, to provide visitors with a customized online experience.
                      Cookies are widely used and most web browsers are configured initially to accept cookies automatically. You may change your Internet browser settings to prevent your computer from accepting cookies or to notify you when you receive a cookie so that you may decline its acceptance. Please note, however, if you disable cookies, you may not experience optimal performance of our website.</p>
               </div>
               <!-- Additional Information -->
            </div>
      </div>
    </section>
    <!-- End Content -->
   </div>
  </main>
  <% include ../views/partials/footer %>
  <div class="u-outer-spaces-helper"></div>
  <% include ../views/partials/script %>
  <script src="/js/courses.js"></script>

</body>

</html>