<!DOCTYPE html>
<html lang="en">

<% include ../views/partials/head %>

<body>
  <main>
<% include ../views/partials/nav %>
<header class="text-center mb-4">
  <h2 class="h2 g-color-black g-font-weight-600">请输入注册邮箱信息</h2>
</header>
    <!-- Signup -->
    <section class="container g-py-100">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-6">
          <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">


            <!-- Form -->
            <form action="/reset_password" method="post" class="g-py-15">
              <div class="mb-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5"><i class="icon-communication-062 u-line-icon-pro"></i></span>
                  </div>
                  <input name="email" 
                  data-parsley-required-message="请输入有效邮箱"
                  required class="full-cell form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover g-py-15 g-px-15" type="email" placeholder="邮箱">
                </div>
              </div>
              <% if (flashMessage.length > 0) { %>
                <div class="alert alert-danger"> <span class="alert-danger"><%= flashMessage %> <span></div>
              <% } %>

              <button class="btn btn-md btn-block u-btn-primary rounded-0 g-py-15 mb-5" type="submit">提交</button>

            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Signup -->

    <% include ../views/partials/footer %>

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>
    <% include ../views/partials/script %>


</body>

</html>
